$menu-background-color: #f6f9fc;

body {
    &.navigation-open {
        overflow-y: hidden;
    }
}

.menus {
    position: fixed;
    top: 13.2em;
    left: 0;
    right: 0;
    bottom: 1em;
    //max-width: $container-width;
    margin: 0 auto;
    width: 100%;
    height: calc(100vh - 13.2em);
    transform: translate(0, -150%);
    transition: opacity 0.25s cubic-bezier(0.53, 0.21, 0, 1), transform 0s,
        backdrop-filter 0.25s cubic-bezier(0.53, 0.21, 0, 1);
    z-index: 2;
    backdrop-filter: blur(0);
    transform-style: preserve-3d;
    will-change: transform;
    perspective: 1000px;

    &.menu-closing {
        transition: opacity 0.25s cubic-bezier(0.53, 0.21, 0, 1), transform 0.25s cubic-bezier(0.53, 0.21, 0, 1);
        transform: translate(0, -150%);
    }

    body.navigation-open & {
        transform: translate(0, 0);
        //backdrop-filter: &-(6px);

        .container {
            animation: menu-open-container-opacity 0.3s cubic-bezier(0.53, 0.21, 0, 1) forwards 0.3s;
        }
    }
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    //background: $color-grey-3;
    opacity: 0;
    z-index: -1;
    cursor: pointer;
    transition: opacity 0.6s ease-in-out;

    body.navigation-open & {
        opacity: 0.15;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    padding: 6vh 3em;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba($color-1, 0.92);
    opacity: 0;
    outline: none;
    transform: translate3d(0px, 12px, -18px);
    transition: transform 0.25s cubic-bezier(0.53, 0.21, 0, 1);

    @media (max-height: 850px) {
        padding-bottom: 10em;
    }
    @media (max-height: 700px) {
        padding-bottom: 20em;
    }

    &.menu-open {
        z-index: 2;
        box-shadow: 0 0.625em 1.25em rgba(35, 45, 75, 0.25);
        transform: translate3d(0, 0, 0);
        opacity: 1;

        .group > * {
            opacity: 0;
            animation: menu-group 0.4s cubic-bezier(0.53, 0.21, 0, 1) forwards;

            @for $i from 0 to 10 {
                &:nth-child(#{$i}) {
                    animation-delay: 0.015s * $i;
                }
            }
        }
    }

    .container {
    }

    .group {
        align-items: flex-start;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            margin: 0;
            padding: 0;
        }
    }

    .menu-navigation {
        &-items {
            flex: 1.5;
            background: #fff;
            border-radius: 0.375em;
            height: 100%;
            box-shadow: 0 0.625em 1.25em rgba(35, 45, 75, 0.25);

            button {
                appearance: none;
                -webkit-apearance: none;
                -moz-appearance: none;
                width: 100%;
                text-align-last: left;
                padding: 0.75em 1.5em;
                margin: 0 auto;
                border: none;
                border-top: 1px solid $color-grey-1;
                border-bottom: 1px solid $color-grey-1;
                background: none;
                outline: none;
                font-size: 1.125rem;
                font-family: inherit;
                font-weight: 500;
                cursor: pointer;

                .icon {
                    margin-right: 0.75em;
                    font-size: 1.25rem;
                    width: 1.25rem;
                    height: 1.25rem;
                    display: inline-flex;
                }

                &:hover {
                    background: $color-grey-1;
                    border-color: $color-grey-1;
                }

                &.menu-navigation-link--open {
                    background: $color-2;
                    border-color: $color-2;
                }
            }
        }

        &-panels {
            flex: 6;
            padding: 0 3em;

            .menu-navigation-panel {
                display: none;
                background: #fff;
                padding: 2em;
                border-radius: 0.375rem;
                opacity: 0;
                box-shadow: 0 0.625em 1.25em rgba(35, 45, 75, 0.25);

                &--open {
                    display: block;
                    opacity: 0;
                    animation: menu-group 0.4s cubic-bezier(0.53, 0.21, 0, 1) forwards;
                }

                &-label {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 0.5em;

                    h2 {
                        display: flex;
                        align-items: center;
                        width: auto;

                        a {
                            display: flex;
                            align-items: center;
                            text-decoration: none;
                            color: inherit;
                            transition: 150ms ease;

                            &:hover,
                            &:focus {
                                text-decoration: underline;
                            }
                        }

                        .icon {
                            margin-right: 0.5em;
                        }
                    }

                    .arrow {
                        a {
                            display: flex;
                            width: 3em;
                            height: 3em;
                            align-items: center;
                            justify-content: center;
                            text-decoration: none;
                            background: $color-2;
                            border-radius: 50%;
                            color: #fff;

                            &:hover,
                            &:focus {
                                text-decoration: none;
                                background: $color-1;
                                color: #fff;
                            }
                        }
                    }
                }

                a {
                    &:hover {
                        text-decoration: underline;
                        color: $color-1;
                    }
                }
            }

            ul {
                display: flex;
                flex-flow: row wrap;

                li {
                    width: calc(50% - 2em);
                    margin: 0.75em 0;

                    a {
                        color: $color-base;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .menu-lower-actions {
        text-align: center;
        margin-top: 5em;
    }

    .menu-closer {
        appearance: none;
        -webkit-apearance: none;
        -moz-appearance: none;
        margin: 0 auto;
        border: none;
        background: none;
        font-size: 0.875rem;
        cursor: pointer;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        font-family: inherit;
        letter-spacing: 0.125em;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    .container {
        padding: 0;
        opacity: 0;
        max-width: $container-width;
    }

    .buttons {
        margin-top: 1em;

        .button:hover,
        .button:focus {
            background: rgba(0, 0, 0, 0.1);
        }
    }

    @keyframes menu-open-transform {
        from {
            transform: translate(0, -100%);
        }
        to {
            transform: translate(0, -0);
        }
    }

    @keyframes menu-open-background {
        from {
            background: $menu-background-color;
        }
        to {
            background: #fff;
        }
    }

    @keyframes menu-close-transform {
        from {
            transform: translate(0, 0);
        }
        to {
            transform: translate(0, -100%);
        }
    }

    @keyframes menu-open-container-opacity {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes menu-group {
        from {
            opacity: 0;
            transform: translate(0, -25%);
        }
        to {
            opacity: 1;
            transform: translate(0, 0);
        }
    }
}
