.impression {
    position: relative;
    background: $color-grey-1;
    padding: 1em 0;
    margin-bottom: 0;

    .container {
        padding: 3em 0;
    }

    .group {
        position: relative;
        //align-items: stretch;
        align-items: center;
        width: 100%;
    }

    .details {
        flex: 1;
    }

    .text {
        width: 100%;
        padding: 1em;

        .eyebrow {
            color: $color-base;
        }

        h1 {
            //@include fluid('font-size', 2.5rem, 5.5rem);
            max-width: 550px;
            margin: 0.5em 0;
            line-height: 1.2;
        }

        .description {
            max-width: 500px;
        }

        .buttons {
            margin-top: 3em;
        }
    }

    .flickity {
        &-enabled {
            position: static;
            padding-bottom: 1em;
        }

        &-viewport,
        &-slider {
            width: 100%;
        }

        &-page-dots {
            top: 100%;

            .dot {
                width: 100%;
                max-width: 10px;
                margin: 0 0.25em;
                border-radius: 2em;
                background: $color-base;
                opacity: 0.75;
                transition: $transition-1;

                &.is-selected {
                    max-width: 22px;
                    background: $color-1;
                    opacity: 1;
                }
            }
        }

        &-button {
            &.previous {
                left: auto;
                right: calc(100% + 1.5em);
            }

            &.next {
                right: auto;
                left: calc(100% + 1.5em);
            }

            opacity: 0.25;

            &:hover,
            &:focus {
                opacity: 1;
            }
        }
    }

    .images {
        position: relative;
        flex: 1;

        // &::before {
        //     content: '';
        //     position: absolute;
        //     top: 2.5em;
        //     left: 2.5em;
        //     width: 100%;
        //     height: 100%;
        //     background: #fff;
        //     z-index: -1;
        //     box-shadow: rgba(27, 31, 35, 0.07) 0px 10px 50px 0px;
        //     border-radius: 0.125em;
        // }

        .image {
            width: 100%;
            border-radius: 0.25em;
            overflow: hidden;
            aspect-ratio: 5 / 4;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-shadow: rgba(27, 31, 35, 0.07) 0px 10px 50px 0px;
            border-radius: 0.125em;
        }
    }
}
